RewriteEngine On
RewriteBase /
RewriteRule ^\.well-known/.*   -                [L]
RewriteRule ^assets/.*         -                [L]
RewriteRule ^id/.*             -                [L]
RewriteRule ^favicon\.ico      -                [L]
RewriteRule ^.*\.txt           -                [L]
RewriteRule ^dispatch\.php/.*  -                [L]
RewriteRule ^(.*)$             dispatch.php/$1  [QSA,L]
