body {
	font-family: "Palatino Linotype", "Book Antiqua", "URW Palladio L", Palatino, sans-serif;
	margin: 0 auto;
	width: 44em;
	line-height: 1.4;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
h1, h2, h3, h4, h5, h6 {
	/* I live in hope... */
	page-break-after: avoid;
	page-break-inside: avoid;
}
h1 {
	text-align: center;
	padding-bottom: 1ex;
}
h1, h2 {
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1.2;
}
h1 + p, h2 + p {
	margin-top: 0.5em;
}
p {
	margin-bottom: 0;
}
p + p {
	text-indent: 2em;
	margin-top: 0;
}
blockquote {
	margin-left: 2em;
}
dd {
	margin-top: 1ex;
	margin-bottom: 1ex;
}
dd:before {
	content: "—";
	margin-left: -1em;
}
dd + dt {
	margin-top: 1em;
}
dt {
	font-style: italic;
}
code {
	background-color: #EEE;
}

form, #breadcrumbs, #nav, #metadata, .meta, #archive-summary, #masthead {
	display: none;
}
#footer {
	margin-top: 1em;
}
