body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans MT", Calibri, "Helvetica Neue", Arial, sans-serif; 
	font-weight: normal;
}
a:link, a:visited {
	color: inherit;
	text-decoration: none;
}
form, #breadcrumbs, #nav {
	display: none;
}
